<html lang="en">
<head>
    <% if(title) { %>
        <title> <%= title %> </title>
    <% } else { %>
        <title> IICS </title>
    <% } %>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <style>
        .form-control::-webkit-input-placeholder {
            color: #bec6cc;
        }
        .form-control:-moz-placeholder {
            color: #bec6cc;
        }
        .form-control::-moz-placeholder {
            color: #bec6cc;
        }
        .form-control::placeholder {
            color: #bec6cc;
        }
        .form-control:-ms-input-placeholder {
            color: #bec6cc;
        }
    </style>
</head>

<body>
    <%- include('partials/navigation') %>

    <% if(typeof flashMessages !== undefined) {%>
        <div class="text-center" style="margin-top:1rem;margin-bottom:1rem;background-color:#cf142b;color:white">
            <p class=""> <%= flashMessages.error %> </p>
        </div>
        <div class="text-center" style="margin-top:1rem;margin-bottom:1rem;background-color:#90EE90;">
            <p class=""> <%= flashMessages.success %> </p>
        </div>
    <% } %>

    <%- body %>

    <div id="footer">
        <%- include('partials/footer') %>
    </div>
        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>    
    <script>
        $(document).ready(function() {
            $("#idUploadImageLink1").on("click", function() {
                //alert("Handler for idUploadImageLink1 called.");
                $("#idFile1").click();
                $("#idFile1").on("change", function() {
                    $("#idSubmitButton1")[0].click();
                });
            });

            $("#idUploadImageLink2").on("click", function() {
                //alert("Handler for idUploadImageLink2 called.");
                $("#idFile2").click();
                $("#idFile2").on("change", function() {
                    $("#idSubmitButton2")[0].click();
                });
            });

            $("#idRemoveImageLink1").on("click", function() {
                //alert("Handler for idUploadImageLink1 called.");
                $("#idDeleteButton1")[0].click();
            });

            $("#idRemoveImageLink2").on("click", function() {
                //alert("Handler for idUploadImageLink1 called.");
                $("#idDeleteButton2")[0].click();
            });
        });

        $("#inputMinorCheck").change(function() {
            console.log("Is Minor script:-- " + $(this).val());
            if ($(this).val() === "1") {
                $('#minorSignatureDiv').show();
                $('#minorWaiverTextDiv').show();
                $('#inputMINORConsent').attr('required', '');
            } else {
                $('#minorSignatureDiv').hide();
                $('#minorWaiverTextDiv').hide();
                $('#inputMINORConsent').removeAttr('required');
            }
        });
        $("#inputMinorCheck").trigger("change");
    </script>
</body>
  
</html>