<div class="jumbotron text-center" style="width:95%;margin:auto;margin-top:1rem"> 
    <% if(!loggedIn) { %>
        <h3>Account Info</h3>
        <p>No talent is currently logged in.</p>
    <% } else { %>
        <div  class="container text-center">
            <h3><%= currentUser.fullName; %>'s details</h3>
            <h6>Birthday: <%= currentUser.birthDate; %></h6>            
            <h6>Email: <%= currentUser.email; %></h6>
            <h6>Instagram: <%= currentUser.instagram; %></h6>
            <h6>TikTok: <%= currentUser.tiktok; %></h6>
            <h6>Dress Size: <%= currentUser.dress; %></h6>
            <h6>Height: <%= currentUser.fullHeight; %></h6>
            <h6>Skills: <%= currentUser.info; %></h6>
            <h6>COVID DISCLOSURE signed by: <%= currentUser.covidSignature; %></h6>


            <p style="margin-top:3rem;">FYI: Every submission agrees to <br/>
            1) the COVID DISCLOSURE and<br/>
            2) the REPRESENTATION STATEMENT.<br/>
            </p>



        </div>
    <% } %>
    </div>
</div>
