<div class="jumbotron text-center" style="width:95%;margin:auto;margin-top:1rem"> 
    <% if(!loggedIn) { %>
        <h4>Show/Verify User</h4>
        <p>No talent is currently logged in.</p>
    <% } else { %>
        <div  class="container text-center">
            <h4><%= currentUser.fullName; %>'s Submission Details</h4>
            <br/>
            <% if(currentUser.emailVerified){%>
                <h6>Birthday: <%= currentUser.birthDate; %></h6>            
                <h6>Email: <%= currentUser.email; %></h6>
                <h6>Instagram: <%= currentUser.instagram; %></h6>
                <h6>TikTok: <%= currentUser.tiktok; %></h6>
                <h6>Dress Size: <%= currentUser.dress; %></h6>
                <h6>Height: <%= currentUser.fullHeight; %></h6>
                <h6>Skills: <%= currentUser.info; %></h6>
                <h6>COVID DISCLOSURE signed by: <%= currentUser.covidSignature; %></h6>
    
                <p style="margin-top:2rem;">
                    FYI: Every submission agrees to <br/>
                    1) the COVID DISCLOSURE and<br/>
                    2) the REPRESENTATION STATEMENT.    
                </p>
            <%} else {%>
                <p>
                    Waiting for email verification.<br/>
                    Please check the junk/spam mailbox - verfication mail might be there.<br/>
                    To receive a new verfication email please click on Resend below.<br/>
                </p>

                <div class="text-center" style="margin-top:3rem">
                    <a class="btn btn-md btn-success" href='/talent/resend-email-verify' role=button style="width:16rem">
                        Resend
                    </a>
                </div>
            <%}%>
        </div>
    <% } %>
    </div>
</div>
